@import "../../styles/utils.scss";

.userlist {
    color: color-mix(in oklab, transparent 30%, black);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25em;
    height: fit-content;

    .general {
        cursor: pointer;
        font-weight: 700;
        color: $black;
    }
}
