@import "../../styles/utils.scss";

.user {
    cursor: pointer;
    opacity: 0;
    transform: translateX(-100px);
    @include flex(row, 0.5rem, space-between, center);
    color: color-mix(in oklab, transparent 30%, $black);
    transition: color 0.25s ease-out;
    background-color: $white;
    padding: 0.25em 0.5em;
    @include border(0.25em, 1.5px);

    &__active {
        color: black;
        font-weight: bolder;
    }

    &:hover {
        color: $black;
        transition: color 0.25s ease-out;
    }

    .notif {
        @include flex;
        font-size: 0.8rem;
        font-weight: bold;
        width: 1.6em;
        height: 1.6em;
        background-color: $orange;
        color: $white;
        border-radius: 0.25em;
    }
}
