@import "utils.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: $blue;
    @include flex;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1rem;
    color: $black;
}

h1,
h2,
h3 {
    font-family: "Shrikhand", serif;
}

input {
    background-color: $white;
    color: $black;
    @include border(0.5em);
    outline: transparent;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    font-size: 1.1em;
    padding: 0.5em;
}
